p {
    font-family: 'Concert One', 'Luckiest Guy';
    background-color: #C3C8D5;
}
h1 {
    font-family: 'Rubik Mono One';
}
h2 {
    font-family: 'Rubik Mono One';
    background-color: #C0A787;
}
h3 {
    font-family: 'Rubik Mono One';
}
h4 {
    font-family: 'Rubik Mono One';
    background-color: #C3C8D5;
}
img {
    width: 50%;
}
header {
    background-color: #95A2F1;
}